<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Properties>
    <Property name="filename">./logs</Property>
  </Properties>
	<Appenders>
		<RollingFile name="file"
			fileName="${filename}/application.log"
			filePattern="${filename}/application-%d{YYYYMMdd-HHmmssSSS}.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="50 KB" />
		</RollingFile>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" /> 
		</Root>
	</Loggers>
</Configuration>